# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# URL to the database server
DATABASE_URL=""

# code for jwt token encryption
SECRET=""

# expiration time for jwt token e.g. "30m"
JWT_EXPIRATION=""
